# Ignore specific backend directories
backend/checkpoints/
backend/examples/*.pth
backend/uploads/
backend/input/

# Ignore Python cache and compiled files
*.py[cod]
*.pyc.*
*$py.class
__pycache__/
*.class

# Ignore VSCode settings
.vscode/

# Frontend specific files and directories to ignore
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*